.team-members {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .team-members {
    flex-direction: column;
  }
}
