.container {
  padding: 7px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background: #3498db;

  h3 {
    margin: 0;
  }

  img {
    width: 200px;
    height: auto;
    border-radius: 100%;
  }
  
  a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
  }
}

.text-center {
  text-align: center;
}

.white-color {
  color: white;
}
